@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Montserrat', sans-serif;
  
}
.sombra{
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
}
